p 
{color:blue;
}
#container
{background-color:gray;
}
#left
{
background-color:green;
height:10000px;
width:100px;
float:left;
}
#top
{
background-color:green;
height:150px;
width:1350px;
float:up;
}
#right
{
background-color:green;
height:10000px;
width:100px;
float:right;
}
#pic
{ 
float:right;
}
.x
{background-color:cyan;
}
h1
{text-align:center;
}